<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Testing service</title>
</head>
<body>
    <div id="content">
            <h1>Testing crawler service</h1>
            <div id="formu">
                <span id="juaer">URL: </span>
                <input type="text" id="typein">
                <select class="dropo" id="drpI">
                    <option value="mobile-de">Mobile-de</option>
                    
                </select>
                <select class="dropo" id="drpII">
                    <option value="Chrome">Chrome</option>
                    <!-- <option>Request</option> -->
                        
                </select>
                <button id="btn1">Run</button>
            </div>
            <!--<div id="boux"></div>-->
    </div>
    <div id="api-response" class="hide">
    </div>

    <script src ="/javascripts/jquery.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>